@use 'application';

/* Previously known as fairy-floss (Pastel dark) */
[data-color-scheme='dark'] {
  --color-fairyfloss-purple-100: oklch(0.75 0.1 310);
  --color-fairyfloss-purple-300: oklch(0.666 0.1 310);
  --color-fairyfloss-purple-500: oklch(0.5 0.1 310);
  --color-fairyfloss-purple-700: oklch(0.3 0.09 310);
  --color-fairyfloss-purple-800: oklch(0.25 0.08 310);
  --color-fairyfloss-purple-900: oklch(0.2 0.08 310);
  --color-fairyfloss-purple-950: oklch(0.1 0.08 310);

  /* TEXT TOKENS */

  --color-text-primary: var(--color-white);
  --color-text-secondary: var(--color-fairyfloss-purple-100);
  --color-text-brand: var(--color-fairyfloss-purple-300);

  /* BACKGROUND TOKENS */

  // Neutrals
  --color-bg-primary: var(--color-fairyfloss-purple-900);
  --color-bg-secondary: var(--color-fairyfloss-purple-700);

  // Utility
  --color-bg-inverted: var(--color-fairyfloss-purple-700);

  // Brand
  --color-bg-brand-base: var(--color-fairyfloss-purple-700);
  --color-bg-brand-soft: var(--color-fairyfloss-purple-900);
  --color-bg-brand-softest: var(--color-fairyfloss-purple-950);

  /* HOMETOWN OVERRIDES */
  --color-hometown-main-col: var(--color-fairyfloss-purple-800);
}
